header {
  width: 100vw;
  height: 100vh;
  background-image: url(../imags/75ae05112787439\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .contener {
  width: 80%;
  margin: 0 auto;
}
header .contener nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  padding: 20px 0;
}
header .contener nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .contener nav li a {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
}
header .contener nav li a:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
  bottom: 10px;
}
header .contener nav li select {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background: transparent;
  border: none;
  color: white;
}
header .contener h1 {
  margin-top: 200px;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  width: 666px;
}
header .contener button {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 15px 76px;
  background-color: blue;
  border-radius: 10px;
  border: none;
  color: white;
  margin-bottom: 200px;
}

.contener {
  width: 80%;
  margin: 0 auto;
}
.contener .tez {
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.contener .asosiy {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.contener .asosiy div {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media screen and (max-width: 760px) {
  .contener .asosiy {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 760px) and (max-width: 460px) {
  .contener .asosiy {
    grid-template-columns: auto;
  }
}
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav .logo {
  color: blue;
}
header nav ul li {
  color: burlywood;
}
header nav ul li:hover {
  color: firebrick;
}/*# sourceMappingURL=stayl.css.map */